@import '../vars';

.selector {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 0%;
  box-sizing: border-box;

  &::before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid rgba($white, 0.25);
  }

  .selector--option {
    color: rgba($white, 0.5);
    border: 1px solid transparent;
    padding: 0.75em 1.5em;
    cursor: pointer;

    &:hover {
      color: rgba($white, 0.75);
    }
  }

  .selector--selected {
    border: 1px solid rgba($white, 0.5);
    color: rgba($white, 0.75);
  }
}
