@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  background: $black;
  color: $white;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  padding: 4em 10vw;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;

  > * { width: 100%; }
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

h1 { font-size: 4em; }

h2 {
  font-size: 2em;
  span { color: $grey50; }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
}
