$black: #010101;
$grey90: #161616;
$grey80: #262626;
$grey70: #424242;
$grey50: #808080;
$white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$base-font-family: 'Inconsolata', monospace;
$base-font: 16px/20px $base-font-family;
