$brightwhite: #FFF;
$white:    #F7F7F7;
$grey00:   #EEEEEE;
$grey10:   #E5E5E5;
$grey20:   #D7D7D7;
$grey30:   #BABABA;
$grey40:   #AAAAAA;
$grey50:   #969696;
$grey70:   #6D6D6D;
$grey80:   #4C4C4C;
$grey90:   #333333;
$black:    #1B1B1B;
$deepblack:#101010;

$yellow40: #FFC800;
$yellow60: #DB9D23;
$yellow80: #C6890D;

$blue20:   #9CD1F4;
$blue40:   #4BB0F4;
$blue60:   #2890D4;

$evgreen:  #27DD7E;
$green40:  #26D67B;
$green50:  #1EC970;
$green60:  #1AB565;
$green70:  #12874B;
$green90:  #0C4427;

$red40:    #DE2626;
$red60:    #C01A19;
$red80:    #840202;


@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$base-font-family: 'Inconsolata', monospace;
$base-font: 16px/20px $base-font-family;
