@import '../base';

section.day {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  article {
    margin-bottom: 4em;
    width: 100%;
  }

  .log--container {
    table {
      width: 100%;

      td { color: $grey50; }
      thead tr th { padding-bottom: 0.5em; }
      tbody tr td { padding-bottom: 0.25em; }
      thead tr th,
      tbody tr td {
        text-align: left;
        font-weight: 400;
        font-style: normal;
        padding-right: 1em;
        display: table-cell;
      }
    }

    .entry--container {
      width: 100%;
      tr {
        font-size: 1em;
        margin-top: 1em;
      }

      .entry--end-time {
        width: 6em;
      }

      .entry--activity {}
      .entry--category {}
    }
  }
}

@media (min-width: 800px) {
  section.day {
    flex-direction: row;
    justify-content: space-between;

    article.log--container { width: calc(60% - 2em); }
    article.analytics--container { width: calc(40% - 2em); }
  }
}

// larger screens
// flex-direction: row;
// align-items: flex-start;
// justify-content: space-between;
