@import '../mixins.scss';
@import '../vars.scss';

.button {
  border: 1px solid $grey70;
  color: $grey50;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 0;

  height: 2em;
  padding: 0 0.5em;

  &:hover {
    border: 1px solid $grey50;
  }

  &.inactive, &.inactive:hover {
    border: 1px solid $grey80;
    color: $grey70;
  }
}
